{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block customcss %}

    <link rel="stylesheet" href="{% static 'css/timesheet.css' %}"/>

    <style>
        .table td{
            min-width: 54px;
        }
        .table{
            text-align: center;
        }
        .table th,
        .table th .header {
            text-align: center;
        }
        .table-responsive {
            padding-bottom: 25px;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li><a>Previous</a></li>
            <li>
                <div class="form-group">
                    <select class="form-control">
                        <option>2014 January</option>
                        <option>2014 Febuary</option>
                        <option>2014 March</option>
                        <option>2014 April</option>
                        <option>2014 May</option>
                        <option>2014 June</option>
                        <option>2014 July</option>
                        <option>2014 August</option>
                        <option>2014 September</option>
                        <option>2014 October</option>
                        <option>2014 November</option>
                        <option>2014 December</option>
                        <option>2015 January</option>
                    </select>
                </div>
            </li>
            <li><a>Next</a></li>
        </ul>

        <div class="col-md-12">
            <div class="col-md-6">
                <h3>Entry Form</h3>
                <form method="POST" action="{{ request.path }}">
                {% csrf_token %}
                    {{ entry_form|crispy }}
                    <button class="btn btn-primary" type="submit" value="Submit" name="entry_submit" ><i class="fa fa-lg fa-floppy-o"></i> Save</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Row Control Form</h3>
                <form method="POST" action="{{ request.path }}">
                {% csrf_token %}
                    {{ row_control_form|crispy }}
                    <button class="btn btn-primary" type="submit" value="Submit" name="row_control_submit" ><i class="fa fa-lg fa-floppy-o"></i> Save</button>
                </form>
            </div>

        </div>
    </div>

    <h1 class="page-header">{{ year }} {{ month }} Timesheet</h1>

    <div class="col-md-12 table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr class="header">
                    <th class="header">Client / Dept</th>
                    <th class="header">Activity</th>
                    <th class="header">Notes</th>
                    {% for i in table_header %}
                        {% autoescape off %}
                            <th>{{ i }}</th>
                        {% endautoescape %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for record in table_data %}
                <tr>
                {% for field in record %}
                    <td>{{ field }}</td>
                {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <button class="btn btn-default"><i class="fa fa-plus"></i> Add Row </a>
    </div>

{% endblock %}

{% block customjs %}


    <script src="{% static 'js/timesheet.js' %}"></script>


{% endblock %}