{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block customcss %}

    <link rel="stylesheet" href="{% static 'css/timesheet.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/sortable-theme-minimal.css' %}" />

    <style>

        .table .header {
            text-align: left;
        }
        .canvas-container {
            text-align: center;
            width: 100%;
        }
        canvas {
            display: inline;
        }

        .center {
            text-align: center;
        }
        h3 {
            margin-top: 5px;
        }
        h1 span {
            font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            margin-top: 25px;
            display: block;
        }

        @media (max-width: 563px) {
            h1 span {
                display: block;
                margin-top: 0;
                float: left !important;
            }
        }


    </style>

{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="col-md-12">
            <form class="form-inline center" id="year_month_form">
                <h4>View different month: </h4>
                <div class="form-group">
                    <label for="year_input">Year</label>
                    <input class="numberinput form-control" id="ym_year_input" name="year" step="1" type="number" placeholder="yyyy"/>
                </div>

                <div class="form-group">
                    <label for="month_input">Month</label>
                    <input class="numberinput form-control" id="ym_month_input" name="month" step="1" type="number" placeholder="mm" />
                </div>

                <button type="submit" id="year_month_submit" class="btn btn-default">Go</button>
            </form>

            <h1 class="page-header">
                {{ monthname }} {{ year }} Summary
                <span class="pull-right"><input id="lock_checkbox" type="checkbox" onchange="is_checked(this)"> Only show closed timesheet data</span>
            </h1>

            <h2 class="center">Total Month Overview</h2>

        </div>

        <div class="col-md-4">
            <div class="well">
                <h3 class="center">Employees</h3>
                <div class="canvas-container"><canvas id="employee_chart"></canvas></div>
                <table class="table sortable-theme-minimal" data-sortable>
                    <thead>
                        <tr class="header">
                            <th class="header">Open</th>
                            <th class="header">Closed</th>
                    </thead>

                    <tbody>
                    {% for timesheet in timesheet_status %}
                        <tr>
                            <td>{{ timesheet.0 }}</td>
                            <td>{{ timesheet.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="well">
                <h3 class="center">Departments / Clients</h3>
                <div class="canvas-container"><canvas id="dept_chart"></canvas></div>
                <table class="table sortable-theme-minimal" data-sortable>
                    <thead>
                        <tr class="header">
                            <th class="header">Department</th>
                            <th class="header">Hours</th>
                    </thead>

                    <tbody>
                    {% for dept in dept_totals.items %}
                        <tr>
                            <td>{{ dept.0 }}</td>
                            <td>{{ dept.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-md-4">
            <div class="well">
                <h3 class="center">Activities</h3>
                <div class="canvas-container"><canvas id="activity_chart"></canvas></div>
                <table class="table sortable-theme-minimal" data-sortable>
                    <thead>
                        <tr class="header">
                            <th class="header">Activity</th>
                            <th class="header">Hours</th>
                    </thead>

                    <tbody>
                    {% for activity in activity_totals.items %}
                        <tr>
                            <td>{{ activity.0 }}</td>
                            <td>{{ activity.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-md-12">
            <h2 class="center">Individual Timesheets</h2>
            <ul class="nav nav-pills nav-justified">
                <li></li>
                <li>
                    <div class="form-group">
                        <select id="individual_timesheet_select" class="form-control" onchange="individual_timesheet(this)">
                            {% for i in mcr_list %}
                                {% if i.2 %}
                                    <option selected value="{{ i.0 }}">{{ i.1 }}</option>
                                {% else %}
                                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr class="header">
                        <th class="header">Dept / Client</th>
                        <th class="header">Activity</th>
                        <th class="header">Notes</th>
                        {% for i in table_header %}
                            {% autoescape off %}
                                <th>{{ i }}</th>
                            {% endautoescape %}
                        {% endfor %}
                    </tr>
                </thead>

                <tbody id="tbody">
                    {% for record in table_data %}
                        <tr>
                        {% for field in record %}
                            <td onclick="index(this)">{{ field }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block customjs %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <script src="{% static 'js/sortable.min.js' %}"></script>

    <script>

        function isEven(n) {
           return n % 2 == 0;
        }

        var dept_totals_list = {{ dept_totals_json|safe }};

        var dept_data = new Array();

                var count = 0;


        for (var key in dept_totals_list) {
            var dept_data_obj = {
                value: dept_totals_list[key],
                label: key,
            };

            count +=1;

            if (isEven(count)) {
                var the_colour = {
                    color: "#325D88",
                    highlight: "#2d537a",
                }
            } else {
                var the_colour = {
                    color: "#3E3F3A",
                    highlight: "#373834",
                }
            }

            // http://stackoverflow.com/questions/171251/how-can-i-merge-properties-of-two-javascript-objects-dynamically
            // Merges 2 objects
            for (var attrname in the_colour) { dept_data_obj[attrname] = the_colour[attrname]; }

            dept_data.push(dept_data_obj);

        }


        var ctx = document.getElementById('dept_chart').getContext('2d');

        var dept_chart = new Chart(ctx).Doughnut(dept_data);





        var activity_totals_list = {{ activity_totals_json|safe }};

        var activity_data = new Array();

        for (var key in activity_totals_list) {

            var activity_data_obj = {
                value: activity_totals_list[key],
                label: key,
            };

            count +=1;

            if (isEven(count)) {
                var the_colour = {
                    color: "#325D88",
                    highlight: "#2d537a",
                }
            } else {
                var the_colour = {
                    color: "#3E3F3A",
                    highlight: "#373834",
                }
            }

            // http://stackoverflow.com/questions/171251/how-can-i-merge-properties-of-two-javascript-objects-dynamically
            // Merges 2 objects
            for (var attrname in the_colour) { activity_data_obj[attrname] = the_colour[attrname]; }


            activity_data.push(activity_data_obj);
        }

        var ctx = document.getElementById('activity_chart').getContext('2d');

        var activity_chart = new Chart(ctx).Doughnut(activity_data);





        var open_timesheets = {{ timesheets_open_no }};

        var completed_timesheets = {{ timesheets_completed_no }};

        var employee_data = [
                    {
                        value: open_timesheets,
                        color: "#325D88",
                        highlight: "#2d537a",
                        label: "Open"
                    },
                    {
                        value: completed_timesheets,
                        color: "#3E3F3A",
                        highlight: "#373834",
                        label: "Closed"
                    },
        ];

        var ctx = document.getElementById('employee_chart').getContext('2d');

        var employee_chart = new Chart(ctx).Doughnut(employee_data);




        $( "#year_month_form" ).submit(function( event ) {

            event.preventDefault();

            var year = $('#ym_year_input').val();

            var month = $('#ym_month_input').val();

            window.location = '/summary/' + year + "/" + month + "/";
        });

        function is_checked(x) {

            if (document.getElementById("lock_checkbox").checked) {
                $.ajax({
                    type: "GET",
                    url: "{{ request.path }}",
                    data: {
                        'lock_check': 'True',
                    },
                    success: function (data) {

                        $('body').html(data);

                        document.getElementById("lock_checkbox").checked = true;

                    },
                    error: function (data) {
                        console.log(data)
                        console.log("Something went wrong!");
                    }
                });
            } else {
                $.ajax({
                    type: "GET",
                    url: "{{ request.path }}",
                    data: {

                    },
                    success: function (data) {

                        $('body').html(data);

                        document.getElementById("lock_checkbox").checked = false;

                    },
                    error: function (data) {
                        console.log(data)
                        console.log("Something went wrong!");
                    }
                });
            }

        }

    function individual_timesheet(x) {
        var timesheet_pk = $('#individual_timesheet_select').val();

        $.ajax({
            type: "GET",
            url: "{{ request.path }}",
            data: {
                'the_timesheet': timesheet_pk,
            },
            success: function (data) {

                $('#tbody').html(data);

            },
            error: function (data) {
                console.log(data)
                console.log("Something went wrong!");
            }
        });

    }

    </script>



{% endblock %}