<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Mosaic Island Timesheet System</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><p class="navbar-text">Logged in as {{ request.user.username }} </p></li>
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
              {% if request.user.is_staff %}
                  <li><a href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}
                  <li><a href="{% url 'auth_password_change' %}?next=/">Change Password</a></li>
                  <li><a href="{% url 'auth_logout' %}?next=/">Log Out</a></li>
              </ul>
          </li>
        {% else %}
          <li><p class="navbar-btn"><a href="{% url 'auth_login' %}" class="btn btn-default">Log In</a></p></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
