{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-md-6 col-md-offset-3">
  <h1 class="page-header"> Login </h1>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <input class="btn btn-primary" type="submit" value="Log in" />
    <input class="btn btn-primary" type="hidden" name="next" value="{{ next }}" />
  </form>
  </br>
  <a href="{% url 'auth_password_reset' %}" class="btn btn-default">Reset password</a>
</div>

{% endblock %}
